<turbo-stream action="prepend" target="posts">
  <template>
    <%= render @post %>
  </template>
</turbo-stream>

<turbo-stream action="update" target="posts">
  <template>
    <turbo-frame id="posts">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% Post.includes(:user, :comments).recent.each do |post| %>
          <%= render post %>
        <% end %>
      </div>
    </turbo-frame>
  </template>
</turbo-stream>
